# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/
.venv/
venv/

# Build artifacts
*.egg-info/
dist/
build/
*.whl
*.tar.gz

# IDE
.idea/

# OS
.DS_Store
Thumbs.db

# Project specific
learn-drissionpage/
project_idea.md

# claude
.claude
cm